name: Deploy Application

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  deploy:
    name: Deploy via SSH
    runs-on: ubuntu-latest
    environment: 
      name: prod
      url: https://tercovirtual.gabriel2m.com

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Deploy Application
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          SSH_PORT: ${{ secrets.SSH_PORT }}
          SSH_USER: ${{ secrets.SSH_USER }}
          SSH_HOST: ${{ secrets.SSH_HOST }}
          APP_PATH: ${{ secrets.APP_PATH }}
        run: |
          echo "$SSH_PRIVATE_KEY" > SSH_PRIVATE_KEY
          chmod 600 SSH_PRIVATE_KEY

          ssh -o StrictHostKeyChecking=no -i SSH_PRIVATE_KEY -p "$SSH_PORT" "$SSH_USER@$SSH_HOST" << EOF
            cd "$APP_PATH"
            git pull
            php composer install --no-dev --optimize-autoloader
            php artisan optimize
          EOF

          rm -f SSH_PRIVATE_KEY
